@{
    ViewBag.Title = "Contact";
}

<br />
<br />
<div class="row">
    <div class="col-lg-4">
        <h2>Contacts</h2>
        <address>
            Plovdiv<br />
            Betoven 6<br />
            <abbr title="Phone">P:</abbr>
            08888888888
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">pd-medicine@medicine.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Doctors@example.com">doctors@medicine.com</a>
        </address>
    </div>

    <div class="col-lg-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.0292794982315!2d24.742108615760323!3d42.14966025635462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acd1bc29382281%3A0xa079870f363ec495!2z0YPQuy4g4oCe0JHQtdGC0YXQvtCy0LXQveKAnCA2LCA0MDAwINCf0LvQvtCy0LTQuNCy!5e0!3m2!1sbg!2sbg!4v1469444404353" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>